<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="header" src="/images/header.JPG">
      </div>
      <div class="col-8 main">
        <h2>Sign Up to get In Da Hood</h2>
        
        <form class="clearfix mb-4" action="POST">
          
          <div class="form-group">
            <label for="example-text">Full Name</label>
            <input type="text" id="first" class="form-control" aria-describedby="example-text" placeholder="John Smith">
            {{name}}
          </div>
        
          <div class="form-group">
            <label for="example-text">Email</label>
            <input type="text" id="email" class="form-control" aria-describedby="example-text" placeholder="john.smith@gmail.com">
            {{email}}
          </div>

          <div class="form-group">
            <label for="example-text">Password</label>
            <input type="text" id="pass" class="form-control" aria-describedby="example-text" placeholder="Password must include at least one number and one symbol">
            {{password}} <!--does this conflict w/ Kamran's password verification?-->
          </div>

          <div class="form-group">
            <label for="example-text">Confirm Password</label>
            <input type="text" id="pass-confirm" class="form-control" aria-describedby="example-text" placeholder="Password must include at least one number and one symbol">
            {{password}} <!--does this conflict w/ Kamran's password verification?-->
          </div>

          <div class="form-group">
            <label for="example-text">Zipcode</label>
            <input type="text" id="zip" class="form-control" aria-describedby="example-text" placeholder="95411">
            {{zipcode}}
          </div>
          
          <a href="/api/users"><button type="button" id="signup-btn" class="btn btn-primary float-left">Submit</button></a>
          
        </form>
      </div>
    </div>
  </div>
</div>

